*, *::after, *::before { box-sizing: border-box; }

body {
    background-color: rgb(255,255,245);
}

.pageTitle {
    text-align: center;
    padding: 30px 0;
    font-family: "Avenir Next", sans-serif, Serif;
}

.heroImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.searchContainer {
    text-align: center;
    margin-top: 2.5%;
}

input {
    width: 20%;
    border: none;
    border-bottom: 2px solid darkgrey;
    color: darkgrey;
    background-color: rgb(255,255,245) ;
}

input[type=text]:focus {
    outline-width: 0;
}

button {
    border: none;
    color: white;
    font-size: 20px;
    font-family: "Avenir Next", Serif;
    background-color: darkseagreen;
}

article {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 2.5%;
    height: 250px;
    font-family: "Avenir Next", sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "img h1"
                         "p  p";

}

h1 {
    grid-area: h1;
}

img {
    grid-area: img;
    width: 75%;
    height: auto;
}

p {
    font-size: 14px;
    grid-area: p;
    line-height: 2;
}